version: "3.9"
services:
  redis:
    image: redis:latest
    ports:
      - 6379:6379
    restart: "always"
    command: redis-server --requirepass G0rDkQtRcl!E --appendonly yes
    volumes:
      - "./redis/data:/app"

  api:
    build:
      context: .
    ports:
      - 5000:5000
    restart: "always"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASS=G0rDkQtRcl!E

  worker:
    build:
      context: .
    restart: "always"
    command: celery -A tasks worker --loglevel=info
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASS=G0rDkQtRcl!E
